{% if sponsors %}
    <table id="preview" class="table table-hover">
        <thead>
            <tr class="header-legend">
                <th>{{ 'sponsor.name' | trans }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for sponsor in sponsors %}
            <tr>
                <td>{{ sponsor.name }}</td>
                <td>
                    <a href="{{ path('sponsor_show', { 'id': sponsor.id }) }}">{{ 'button.show' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {% include 'SiteBundle:helper:emptyResult.html.twig' %}
{% endif %}
