{% extends 'UserBundle::account.html.twig' %}

{% block body %}
  <div class="page-header">
    <h1>{{ 'user.edit' | trans }}</h1>
  </div>

  {% include 'AdminBundle:user:_form.html.twig' %}
{% endblock %}
