/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding-bottom: 200px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #2C3E50;
  color: #fff;
  text-align: center;
  padding: 15px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
  padding: 150px 15px 0;
}*/

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
