{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block body %}

<div class="page-header">
  <h1>{{ 'person.list' | trans }} <small>({{ persons | length }})</small></h1>
</div>

{%- if persons | length > 0 -%}
  {%- include 'WitProgramAccountMentorBundle:Mentee:_list.html.twig' -%}
{%- else -%}
  {%- include 'WitSiteBundle:helper:emptyResult.html.twig' -%}
{%- endif -%}

{% endblock %}
