<div class="page-header">
  {# @todo translation #}
  <h1>{{ app.user.fullname }},&nbsp;
    {# <small> #}
      {{- 'account.welcome' | trans({'%org%':organization.country}) -}}!</h1>
    {# </small> #}
</div>
