<!DOCTYPE html>
<html>
  <head>
    {% spaceless %}
      {# title #}
      <title>{%- block title %}{{ 'mentoring.program' | trans }} - Women in Technology Tech Leaders{% endblock -%}</title>

    {% endspaceless %}
  </head>
  <body>
    {# <div class="container"> #}
      {%- block body %}{% endblock -%}
    {# </div> #}
  </body>
</html>
