{% extends 'WitProgramAdminQuestionnaireBundle::layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'question.new' | trans }}</h1>
    </div>

    {% include 'WitProgramAdminQuestionnaireBundle:question:_form.html.twig' %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {#
    collection prototype
    http://symfony.com/doc/current/cookbook/form/form_customization.html#cookbook-form-custom-prototype
    http://jsfiddle.net/847Kf/4/
    #}

    {%- javascripts
        '@WitSiteBundle/Resources/public/js/prototype.js'
    -%}
        <script src='{{ asset_url }}'></script>
    {%- endjavascripts %}

{% endblock %}
