<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    bootstrap                   = "vendor/autoload.php"
>
<!-- bootstrap= "tests/bootstrap.php" -->
<!-- bootstrap="tests/autoload.php" -->
<!-- bootstrap="bootstrap.php.cache" -->

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="0" /> <!-- https://github.com/symfony/symfony/pull/24867 -->
        <ini name="error_reporting" value="-1" />
        <ini name="intl.default_locale" value="en" />
        <!-- <ini name="intl.error_level" value="0" /> -->
        <ini name="memory_limit" value="-1" />
        <!-- the value is the FQCN of the application kernel -->
        <server name="KERNEL_CLASS" value="AppKernel" />
        <!-- <env name="KERNEL_CLASS" value="App\Kernel" /> -->
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
    </php>

    <testsuites>
        <testsuite name="Functional tests: landing page">
            <directory>./tests/functional/landingpage</directory>
        </testsuite>
        <testsuite name="Functional tests: organization page">
            <directory>./tests/functional/organizationpage</directory>
        </testsuite>
    </testsuites>

</phpunit>
