{% extends 'SiteBundle::base.html.twig' %}

{% block bg -%}
    {% spaceless %}
        <div class="bglead">
            <h1>Tech Leaders</h1>
            <h2>{{ organization.country | upper }}</h2>
            <h3>{{ 'homepage.lead.program' | trans }}</h3>
        </div>
    {% endspaceless %}
{%- endblock -%}

{%- block body -%}
  {% set config = getSignupConfig() %}
  {% set lastEdition = getLastEdition() %}

  {%- include 'SiteBundle:homepage:_signupButtons.html.twig' -%}
  {%- if sections.about is defined -%}
    {%- include 'SiteBundle:homepage:_about.html.twig' -%}
  {%- endif -%}
  {%- if sections.mentors is defined -%}
    {%- include 'SiteBundle:homepage:_mentors.html.twig' -%}
  {%- endif -%}
  {%- if sections.sponsors is defined -%}
    {%- include 'SiteBundle:homepage:_sponsors.html.twig' -%}
  {%- endif -%}
  {%- if sections.partners is defined -%}
    {%- include 'SiteBundle:homepage:_partners.html.twig' -%}
  {%- endif -%}
  {# {%- if sections.gallery is defined -%} #}
    {# {%- include 'SiteBundle:homepage:_gallery.html.twig' -%} #}
  {# {%- endif -%} #}

  {# parts of every organization #}
  {%- include 'SiteBundle:homepage:_organizer.html.twig' -%}
  {%- include 'SiteBundle:homepage:_contact.html.twig' -%}

{%- endblock -%}

{%- block javascripts %}
    {{ parent() }}

    {%- javascripts
        '@modal_mentors'
        '@scroll_homepage'
    -%}
        <script src='{{ asset_url }}'></script>
    {%- endjavascripts %}
{%- endblock -%}
