{% extends 'SiteBundle::base.html.twig' %}

{% block body %}

{%- if rules is not empty -%}
  {% spaceless %}
  <div class="page-header">
    <h1>{{- 'menu.rules' | trans -}}</h1>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        {%- for rule in rules -%}
        <li class="list-group-item{%- if loop.index is odd %} list-group-item-odd{% endif -%}">
          <span class="number">{{- loop.index -}}.</span>&nbsp;{{ rule.content -}}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  {% endspaceless %}
{% endif %}
{% endblock %}
