# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     wit_techleaders
    database_user:     techleaders
    database_password: abc

    translations_database_host: 127.0.0.1
    translations_database_port: ~
    translations_database_name: wit_techleaders_translations
    translations_database_user: techleaders
    translations_database_password: abc

    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    email_sender_address: noreply@example.pl
    email_sender_name: Tech Leaders
    # router.request_context.host: techleaders.eu
    # router.request_context.scheme: http

    domain_name: techleaders # together it's techleaders.test
    domain_ext: eu # together it's techleaders.test

    locale_possible: 'en|pl|ru|sw|hi' #list of static translated locale
    # http.protocol: http

    wkhtmltopdf.bin: /usr/bin/xvfb-run /usr/bin/wkhtmltopdf

    lexik_translation.managed_locales:
        - en
        - pl
        - ru
        - sw
        - hi
    lexik_translation.resources_registration.type: all # all | files | database
    assets_version: v0
