{# homepage account #}
<li{%-
    if app.request.attributes.get('_route') ends with 'account_mentee'
    or
    app.request.attributes.get('_route') ends with 'account' %} class="active"{%- endif -%}>
  <a href="{{ path('account_mentee') }}">{{ 'menu.info' | trans }}</a>
</li>
{# calendar #}
<li{%- if app.request.attributes.get('_route') starts with 'calendar_'
  or
  app.request.attributes.get('_route') starts with 'event_' %} class="active"{%- endif -%}>
  <a href="{{ path('calendar_index') }}">{{ 'menu.calendar' | trans }}</a>
</li>
