{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'partner.new' | trans }}</h1>
    </div>

    {% include 'WitProgramAdminEditionBundle:Partner:_form.html.twig' %}
{% endblock %}
