{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'image.new' | trans }}</h1>
    </div>

    {% include 'WitProgramAdminGalleryBundle:Gallery:_form.html.twig' with { 'form' : form }%}
{% endblock %}
