{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <blockquote class="blockquote">If you have knowledge, let others light their candles in it.</p>
    <footer class="blockquote-footer">Journalist, critic and women's rights advocate - <cite title="Source Title">Margaret Fuller (1810 – 1850)</cite></footer>
  </blockquote>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Apply</a>
  </p>
</div>

{% endblock %}
