// customize some Bootstrap variables
// $primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules

// https://bootswatch.com/help/#api
@import "~bootswatch/dist/united/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/united/bootswatch";
@import "easyadmin";
@import url(sticky-footer.css);

body > .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

section > h2{
    padding: 15px 0;
}

.nav-buttons {
    margin: 20px 0;
}

/* Nav */

.btn-group-toggle form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid transparent;
}

@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {

}
