{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'eventnote.new' | trans }}</h1>
    </div>

    {% include 'WitProgramCalendarBundle:EventNote:_form.html.twig' %}
{% endblock %}
