{% extends 'UserBundle::account.html.twig' %}

{% block body %}

<h3 class="text-center">{{- 'account.mentee.mentor.contact' | trans -}}:<br />{{- mentor.email -}}</h3>
{% include 'UserBundle:mentor:_profile.html.twig' %}

{% endblock %}
