<div class="row">
    <div class="col-sm-6 col-xs-12">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-default" id="_submit" name="_submit">{{ 'button.save' | trans }}</button>
        {{ form_end(form) }}
    </div>
</div>
