{% extends 'UserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'mentorfaq.new' | trans }}</h1>
    </div>

    {% include 'AdminBundle:mentorfaq:_form.html.twig' with { 'form' : form }%}
{% endblock %}
