{% extends 'UserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'partner.new' | trans }}</h1>
    </div>

    {% include 'AdminBundle:partner:_form.html.twig' %}
{% endblock %}
