<footer class="footer">
    <div class="container footer-container">
        <div class="row">

            <div class="col-sm-12">
                <h4><a href="http://womenintechnology.pl">Women in Technology</a>&nbsp;<small>© 2015 - <script>document.write(new Date().getFullYear())</script> </small></h4>
            </div>

            <div class="col-sm-12">
                    <a href="https://www.facebook.com/witpoland"><i class="fa fa-facebook-square"></i></a>&nbsp;&nbsp;
                    <a href="https://www.twitter.com/witpoland"><i class="fa fa-twitter-square"></i></a>&nbsp;&nbsp;
                    <a href="https://plus.google.com/+WomenintechnologyPlWiT"><i class="fa fa-google-plus-square"></i></a>&nbsp;&nbsp;
                    <a href="https://www.instagram.com/witpoland/"><i class="fa fa-instagram"></i></a>&nbsp;&nbsp;
                    <a href="https://github.com/womenintechnology"><i class="fa fa-github-square"></i></a>
                    &nbsp;&nbsp;
                    <a href="https://www.linkedin.com/company/3535347/"><i class="fa fa-linkedin-square"></i></a>&nbsp;&nbsp;
                    <a href="https://www.youtube.com/WomenintechnologyPlWiT"><i class="fa fa-youtube-square"></i></a>
            </div>
            {# <div class="col-sm-12">
                <p>Based on <a href="https://github.com/thomaspark/bootswatch/">Bootswatch Theme</a>. Icons from <a href="https://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. Web fonts from Google.</p>
            </div> #}
        </div>
    </div>
</footer>
