{# search form #}
<div class="row">
    {{ form_start(filterForm) }}
    <div class="col-sm-6 col-xs-12">
        {{ form_widget(filterForm) }}
    </div>
    <div class="col-sm-6 col-xs-12">
        <button type="submit" class="btn btn-success" id="_submit" name="_submit">{{ 'button.search' | trans }}</button>
        {{ form_end(filterForm) }}
    </div>
</div>
