{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block body %}
  <div class="page-header">
    <h1>{{ 'user.edit' | trans }}</h1>
  </div>

  {% include 'WitProgramAdminUserBundle:User:_form.html.twig' %}
{% endblock %}
