{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'user.new' | trans }}</h1>
    </div>

    {% include 'WitProgramAccountUserBundle:user:_form.html.twig' %}
{% endblock %}
