{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>
            {{- 'config.edit' | trans -}}&nbsp;
            <small>
                {{- 'edition' | trans -}}&nbsp;{{- edition.name -}}
            </small>
        </h1>
    </div>

    {% include 'WitProgramAdminEditionBundle:config:_form.html.twig' with { 'form' : edit_form }%}

{% endblock %}
