{% extends 'UserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'about.edit' | trans }}</h1>
    </div>

    {% include 'AdminBundle:About:_form.html.twig' with { 'form' : edit_form }%}
{% endblock %}
