{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{# additional submenu here #}
{# {% block menu %}
    <ul class="nav nav-tabs submenu">
        <li
        {%- if
            app.request.attributes.get('_route') starts with 'question_'
            or
            app.request.attributes.get('_route') starts with 'answer_'
        %} class="active"{% endif %}>
            <a href="{{ path('question_index') }}">{{ 'menu.questions' | trans }}</a>
        </li>
        <li{%- if app.request.attributes.get('_route') starts with 'person_' %} class="active"{% endif %}>
            <a href="{{ path('person_index') }}">{{ 'menu.persons' | trans }}</a>
        </li>
    </ul>
{% endblock %} #}

{% block body %}{% endblock %}
